.app-top-menu-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-img {
    height: 60px;
    width: auto;
    max-width: 100%;
    display: block;
  }

  a {
    text-decoration: none;
    margin: 0 8px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  button {
    border-radius: 0px;
    height: 100%;
  }

}